<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
        <digestAuthentication enabled="false" />
      </authentication>
    </security>
    <directoryBrowse enabled="false" />
    <defaultDocument enabled="true">
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="WordPress" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="wp-admin">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="wp-admin/load-styles.php">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="wp-admin/load-scripts.php">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>
</configuration>
