# Protect uploads from direct execution of PHP files
<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|php5|php4|php3|phtml|phps)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|php5|php4|php3|phtml|phps)$">
        Deny from all
    </FilesMatch>
</IfModule>
